@import url("whitespace-reset.css");

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #efefef;
  
}

header {
  background-image: url('../images/background1.jpg');
  width: 100%;
  height: 660px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}



.container {
  width: 100%;
  height: 80px;
  /* text-align: center; */
  background: rgba(0,0,0,0.31); 
}

.cont-for-h1 {
  width: 40%;
}

h1 {
  font: normal 5em 'Passion One', cursive, sans-serif;
  margin-left: 8%;
}

.first-word {
  color: #1b17c9;
}

.second-word {
  color: #ffffff;
}

.third-word {
  color: #8509a2;
}

.container-form {
  width: 32%;
  margin: 15% auto 0 auto;
  text-align: center;
  background: rgba(0,0,0,0.5);
}
 
/* toggle switch */
.switch input {
  position: absolute;
  opacity: 0;
}

.switch {
  display: inline-block;
  font-size: 20px;
  height: 1em;
  width: 2em;
  background-color: #c5b14e;
  border-radius: 1em;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #FFF;
  box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
/*  */

.container-buttons {
  width: 100%;
  margin: 5px auto 0 auto;
  padding-bottom: 10px;
}

.wine-btn {
  color: #ea3535;
}

.food-btn {
  color: #FFffff;
}
.food-btn, .wine-btn {
  font: bold 2em 'Audiowide', cursive, sans-serif;
  display: inline-block;
  width: 40%;
  height: 40px;
  border-radius: 10px 10px; 
  outline: none;
  border: none;

}

.food-btn {
  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
  -moz-animation: neon 1.5s ease-in-out infinite alternate;
  animation: neon  1.5s ease-in-out infinite alternate;
}
@keyframes neon {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}
form {
  width: 100%;
  height: 80px;
  display: inline-block;
}

input {
  font-size: 1.4em;
  width: 70%;
  height: 60px;
  padding-left: 3%;
  outline: none;
  border: none;
  border-radius: 15px 15px;
  margin-top: 10px;
}

button {
  font-size: 1.5em;
  background-color: #C9171E;
  width: 25%;
  height: 55px;
  border-radius: 4px 4px; 
  outline: none;
  border: none;
}

/* venues */
.venue-type {
  display: inline;
}
.container-for-rating {
  display: inline-block;
  width: 10%;
  text-align: center;
}
.rating {
  border-radius: 55px 55px;
}

.price {
  font: italic .75em sans-serif;
}
/*  */
.row {
  max-width: 1400px;  
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.box {
  height: 200px;
  text-align: center;
  padding-top: 30px;
}

.black {
  background-color: black;
  color: white;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}


/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns */
  .col-4 {
		width: 33.333%;
  }

  /* 6 columns */
  .col-6 {
    width: 50%;
  }

  /* 12 columns */
  .col-12 {
    width: 100%;
  }
}