@import url("whitespace-reset.css");

* {
  box-sizing: border-box;
}

body {
  width: 100%; 
  /* background-color: #beb29e; */
  /* background-color: #dedede; */
  background-color: #dadada;
  /* background-color: #e8e7e7; */
  /* background-color: #c7bba7; */
}

body header {
  /* width: 100%; */
  height: 700px;
  text-align: center;
  background-position: center;
  background-size: cover; 
  background-repeat: no-repeat;
}

body header .container {
  width: 100%;
  height: 66px;
  /* text-align: center; */
  background: rgba(0,0,0,0.41); 
}

body header .cont-for-h1 {
  width: 60%;
  display: block;
}

.container-for-image img {
  box-shadow: 5px 6px 10px #515151;
}

body header h1 {
  display: inline;
  font: italic 5em 'Passion One', cursive, sans-serif;
  margin-left: 8%;
}

body header a {
  text-align: left;
  color: transparent;
  text-decoration: none !important;
}

body header a:hover,  body header a:active, body haeader a:link {
  cursor: pointer;
  color: transparent;
  text-decoration: none !important;
}

header h6 {
  display: inline;
  font: italic 1.2em sans-serif;
  color: #ffffff;
}

.first-word {
  color: #c93817;
}

.second-word {
  color: #ffffff;
}

.third-word {
  color: #8509a2;
}

.container-form {
  width: 32%;
  margin: 15% auto 0 auto;
  text-align: center;
  background: rgba(0,0,0,0.5);
}

.options {
  width: 100%;
  margin: 5px auto 0 auto;
}

a {
  color: #6d0a86;
}

.wine {
  color: #FFffff;
}

.food {
  color: #FFffff;
}

body main .city img {
  vertical-align: super;
  box-shadow: 6px 5px 10px #484848;
}

.food:hover, .wine:hover {
  cursor: pointer;
}

.food, .wine {
  font: bold 2em 'Audiowide', cursive, sans-serif;
  display: inline-block;
  width: 40%;
  height: 40px;
  border-radius: 10px 10px; 
  outline: none;
  border: none;
}

/* neon glow effect */
.neon-effect {
  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
  -moz-animation: neon 1.5s ease-in-out infinite alternate;
  animation: neon  1.5s ease-in-out infinite alternate;
}

@keyframes neon {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }

  100% {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}

.form-main {
  width: 100%;
  height: 80px;
  display: inline-block;
}

input {
  font: normal 1.4em sans-serif;
  width: 70%;
  height: 60px;
  padding-left: 3%;
  outline: none;
  border: none;
  border-radius: 10px 10px;
  margin-top: 10px;
}

.container-form button {
  font: normal 1.7em sans-serif;
  color: #ffffff;
  background-color: #C9171E;
  width: 25%;
  height: 60px;
  border-radius: 10px 10px; 
  outline: none;
  border: none;
  box-sizing: border-box;
  vertical-align: bottom;
}

.container-form button:hover {
  background-color: rgb(180, 40, 50);
}

.container-form button:active {
  background-color: rgb(230, 29, 46);
}

.select-img {
  width: 13%;
  vertical-align: middle;
}



/* arrow bounce iteration */
.arrow-wrapper {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* arrow scroll down */
.fa-arrow-circle-down {
  /* background-color: #ffffff; */
  color: #0f080d;
  margin-top: 80px;
  font-size: 4em;
}



/* main page (welcome page) */
 
/* * * * * * * * * * * * */
/* 	How It works Section
/* * * * * * * * * * * * */
h2 {
  display: inline-block;
  font: normal 3em 'Oswald', sans-serif;
  color: rgb(49, 46, 46);
  text-decoration: underline;
  /* border-bottom: solid rgb(92, 92, 92) 1px; */
}

.h2-wrapper {
  width: 100%;
  text-align: center; 
  margin-bottom: 20px;
  margin-top: 10px;
}

.grub-grapes-img-wrapper {
  text-align: center;
}

.grub-grapes-img-wrapper img {
  width: 20%;
}

.description-paragraph-1, .description-paragraph-2, .description-paragraph-3 {
  margin-top: 15px;
  text-align: center;
}
.container-for-review {
  margin-bottom: 50px; 
}

div .paragraph {
  font: normal 1.3em/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hours, .costumer-count {
  font: normal 1em 'Oswald', sans-serif;
  display: block;
}
.city {
  position: relative;
}



.city:hover {
  cursor: pointer;
  opacity: 0.8;
}

.img-places {
  width: 100%;
}

.img-venue-example {
  width: 80%;
}

h3 {
  font: normal 1.5em/1 "Helvetica Neue", Helvetica ,Arial,  sans-serif;
  width: 100%; 
  text-align: center;
  position: absolute;
  top: 40px;
  left: 0; 
}

h3 span {
  background-color:  rgba(0,0,0,0.6);
  color:white;
  padding: 5px 05px;
}

.img-venue-wrapper {
  width: 100%;
  text-align: center;
}


.container-for-image {
  width: 120px;
  height: 120px;
}

.venue-img {
  background-color: rgb(170, 168, 168);
  width: 120px;
  height: 120px;
}

.how-it-works {
  border-top: solid rgb(112, 112, 112) 1px;
  padding-bottom: 20px;
  height: 100%;
}

.how-it-works, .main-page-places, .reviews {
  background-color: #a7967b;
  /* background-color: #c7bba7; */
}
.main-page-places {
  text-align: center;
}

.cities-wrapper {
  width: 100%;
  margin: 0 auto;
}

.details-wrapper {
  text-align: center;
  margin-top: 10px;
  color: #cabe86;
}

body main .venue .map-link, body main .venue .hours-wrapper {
  padding-left: 0px;
}

.details-wrapper h4 {
  font: normal 2em 'Oswald', sans-serif;
}

.details-venue-name {
  display: inline;
}

 body main .data-container h4 {
  font: normal 1.5em/1 "Helvetica Neue", Helvetica ,Arial,  sans-serif;
  margin-top: 5px;
}

 body main .data-container h5 {
  font: normal 1.3em/1 "Helvetica Neue", Helvetica ,Arial,  sans-serif;
  margin-top: 5px;
}

.get-map-link:hover, .modal-link:hover, .modal-website:hover {
  text-decoration: none;
  cursor: pointer;
}

.modal-website:hover {
  color: #000000;
}

div .food-quote-container .qoute-text-1 {
  font: normal 2.5em sans-serif;
  color: #ffffff;
  background-color: rgba(0,0,0,0.6);
  margin: 400px auto 0 auto;
  float: none;
  height: 320px;
  word-wrap: break-word
}

.qoute-text-1 {
  padding-top: 1;
  height: 30px;
}

h4 .welcome-page-venue-rating {
  background-color: #00B551;
  color: rgb(0, 0, 0);
  font: normal 0.5em 'Oswald', sans-serif;
  display: inline-block;
  width: 50px;
  margin: 0 auto;
  border-radius: 5px 20px 5px;
}

.examples {
  background-color: rgba(0,0,0,0.6);
  margin: 530px auto 50px auto;
} 

.examples h2 {
  color: #ffffff;
}
/* parallax */
.parallax-1 {
  background-image: url("../images/parallax-city-img.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1700px;
}

.parallax-2 {
  background-image: url("../images/parallax-map-img.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 2300px;
}

div .food-quote-container .text {
  font: normal 1em Arial, Helvetica, sans-serif;
}
div .food-quote-container .qoute-text-2 {
  font: normal 2.5em sans-serif;
  color: #ffffff;
  background-color: rgba(0,0,0,0.6);
  margin: 500px auto 0 auto;
  padding: 20px 0px;
  float: none;
  text-align: center;
}

div .food-quote-container p  i {
  font-size: 1em;

}

.author {
  float: right;
}
/* user reviews section */

.review-wrapper {
  margin: 20px 0px 20px 0px;
  text-align: center;
}

.review-wrapper-3 {
  display: none;
}

.text-for-review {
  font: normal 1.7em/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 20px;
  text-align: left;
}

.img-for-review {
  width: 30%;
  border-radius: 50%;
}

.back-to-top-btn-wrapper {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}



.back-to-search-bar-btn  {
  font: normal 1.5em sans-serif;
  width: 22%;
  height: 50px;
  background-color: #00B551;
  color:black;
  border: none;
  outline: none;
  border-radius: 5px;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Hover Animation effect for back-to-search-bar Button
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@-webkit-keyframes hvr-icon-up {
  0%,
	50%,
	100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
	75% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@keyframes hvr-icon-up {
  0%,
	50%,
	100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
	75% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

.hvr-icon-up {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
}
.hvr-icon-up:before {
  content: "\f01b";
  position: absolute;
  right: 1.5em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-up:hover:before, .hvr-icon-up:focus:before, .hvr-icon-up:active:before {
  -webkit-animation-name: hvr-icon-up;
  animation-name: hvr-icon-up;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* styles for search results
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.search-results-wrapper {
  margin: 10px 0 10px 0;
}

.search-results-wrapper h4 {
  font: normal 1.3em "Helvetica Neue", Helvetica ,Arial,  sans-serif;
  color: rgb(0, 0, 0);
}

.container-for-data {
  background-color: #a7a590;
  margin-bottom: 10px;
  /* border-radius: 10px; */
  box-shadow: 1px 5px 5px rgb(211, 211, 211);
  padding: 10px;
}

.container-for-data:hover {
  box-shadow: 2px 5px 5px rgb(150, 147, 147);
}

.row {
  max-width: 1400px;  
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto 0 auto;
}

.data-container {
  margin-left: 10px; 
}

.sec-img {
  margin-left: 150px;
}

.all-info-container {
  display: grid;
  flex-wrap: nowrap;
  border-radius: 8px;
}

.venue-type {
  display: inline-block;
}

.details-wrapper h5 {
  font: normal 1.5em 'Oswald', sans-serif;
  display: inline;
}

.container-for-rating {
  display: inline-block;
  width: 10%;
  text-align: center;
}

.cont-for-rating {
  display: inline-block;
  width: 10%;
  text-align: center;
  vertical-align: top;
}

.rating {
  width: 40px;
  margin: 0 auto;
  border-radius: 5px 20px 5px;
}

.container-for-price {
  margin-top: 6px;
}

.address {
  margin-top: 5px;
  font: normal 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 5px;
}

.price {
  font: normal 1em 'Oswald', sans-serif;
}

.container-for-rating .modal-rating {
  font: normal 1.7em sans-serif;
}

div .food-quote-container {
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
  width: 100%;
  display: inline-block;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* styles for Modal
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.modal-header {
  padding: 0 0;
  border-bottom: none;
}

.modal-header span {
  font-size: 41px;
}

.modal-content {
  position: absolute;
  /* background-color: #fffefe; */
  background-color: #cab3aa;
}

.modal-reviews-header {
  font: bold 2em sans-serif;
}

.modal-venue-info-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

.modal-venue-info-wrapper h4 {
  font: bold normal 2.3em sans-serif;
  display: inline;
  text-decoration: underline;
}

.modal-venue-info-wrapper .rating {
  font-size: 1.7em;
}

.modal-reviews-header-title {
  text-align: center;
  margin: 50px 0 10px 0;
  text-decoration: underline;
}

.website-wrapper {
  margin-top: 3px;
  margin-bottom: 3px;
  font: normal 1.5em "Helvetica Neue", Helvetica ,Arial, sans-serif;
}

 .modal-hours {
  font: normal 0.7em 'Oswald', sans-serif;
}

.modal-website {
  font: normal 0.8em "Helvetica Neue", Helvetica ,Arial,  sans-serif;
  color: rgb(95, 111, 184);
}

.modal-photo-wrapper {
  text-align: center;
  width: 200px;
  height: 120px;
  margin-bottom: 10px;
}

.modal-stats {
  font: normal 1em "Helvetica Neue", Helvetica ,Arial,  sans-serif;
}

.modal-reviews-header {
  display: block; 
}
.modal-venue-review {
  position: relative;
}

.modal-user-photo-wrapper {
  display: inline;
  margin-left: 10px;
}

.modal-user-photo {
  border-radius: 50%;
}
.modal-photo-wrapper img {
  width: 55%; 
}

.modal-text-wrapper {
  margin-bottom: 20px;
  position: relative;
  margin-top: 5px;
}

.mdl-text {
  margin-bottom: 13px;
  padding-left: 10px;
  padding-right: 10px;
  font: normal 1.2em sans-serif;
}


/* add thematic break after each review */ 
.modal-text-wrapper:after {
  content: "";
  background: #545454;
  position: absolute;
  bottom: 0;
  left: 15%;
  height: 1px;
  width: 70%;
}

.modal-venue-info-wrapper .venue-type {
  display: block;
}

.mdaol-rating-wrapper {
  width: 100%;
  display: block;
}

.modal-rating {
  width: 60px;
  height: 25px;
  margin: 0 auto;
  border-radius: 5px 20px 5px;
}

.hours-wrapper {
  font: normal 1.5em sans-serif;
}
.stats-wrapper {
  text-align: center;
  margin-bottom: 20px;
}


/* CSS for map */
.map-container {
  margin-top: 40px;
  overflow-y: auto;
  display: none;
}


#map {
  height: 650px;
  background-color : grey;
}

.box {
  height: 200px;
  text-align: center;
  padding-top: 30px;
}



/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}

/* Non-mobile, grid */
@media only screen and (min-width: 601px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns */
  .col-4 {
		width: 33.333%;
  }

  /* 6 columns */
  .col-6 {
    width: 50%;
  }

  /* 12 columns */
  .col-12 {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  body header .container {
    padding: 0px;
  }

  .select-img {
    padding-bottom: 3px;
  }

  body header {
    height: 320px;
  }

  .arrow-wrapper {
    display: none;
  }

  .modal-reviews-header {
    font-size: 1.2em;
  }

  .container-for-image img {
    box-shadow: 3px 6px 10px #515151;
  }

  div .paragraph {
    font-size: 0.9em;
  }

  div .food-quote-container .text {
    font-size: 0.8em;
  }

  div .food-quote-container .author {
    font-size: 0.9em;
  }

  div .food-quote-container .qoute-text-1 {
    height: 177px;
  }

  .parallax-1 {
    height: 900px;
    background-image: url("../images/parallax-1-small.png");
  }

  .parallax-2 {
    height: 1100px;
    background-image: url("../images/parallax-2-small.jpg");
  }

  body header .cont-for-h1 {
    width: 80%;
  }

  body header h1 {
    font: italic 2.7em 'Passion One', cursive, sans-serif;
  }

  body header h6 {
    display: block;
    font: italic 0.8em sans-serif;
    margin-left: 5%;
  }

  .form-main {
    height: 60px;
  }

  body header .container-form {
    width: 95%;
    margin-top: 17%;
  }

  form input {
    height: 43px;
    font: normal 1.2em sans-serif;
    /* border-radius: 10px 10px; */
    border-radius: 0px;
  }

  .container-form button {
    height: 43px;
    font: normal 1.2em sans-serif;
    /* border-radius: 10px 10px; */
    border-radius: 0px;
  }

  .food, .wine {
    font: bold 1.2em 'Audiowide', cursive, sans-serif;
  }

  .options {
    text-align: center;
    margin: 0 auto 0 auto;
  }

  .fa-arrow-circle-down {
    margin-top: 200px;
  }

  .description {
    margin-bottom: 40px;
  }

  h2 {
    font-size: 1.5em;
  }

  .how-it-works {
    padding-top: 5px;
  }

  

  .grub-grapes-img-wrapper img {
    width: 15%;
  } 

  div .food-quote-container .qoute-text-1 {
    font-size: 1.5em;
    margin-top: 115px;
    padding: 10px 10px;
    height: 190px;
  }

  .text-for-review {
    font: normal 1em/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .review-wrapper {
    margin: 0;
  }

  .review-wrapper-2 {
    display: none;
  }

  .review-wrapper-3 {
    display: initial;
  }

  .text-for-review {
    text-align: center;
  }

  .parallax-2 .h2-wrapper {
    margin-bottom: 40px;
  }

  .details-wrapper h4 {
    font-size: 2em;
  }

  .img-venue-example {
    width: 90%;
  }

  .example-wrapper {
    margin-bottom: 90px;
  }

  .examples {
    display: inline-block;
    padding-bottom: 10px;
    margin-top: 194px;
  }

  h3 {
    font-size: 1em;
  }

  .back-to-search-bar-btn {
    width: 80%;
    font-size: 1em;
  }

  .hvr-icon-up:before {
    content: "\f01b";
    position: absolute;
    right: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .search-results-wrapper h4 {
    font-size: 1em;
    display: inline-block;
  }

  .all-info-container {
    display: flex;
    overflow: auto;
  }

  .data-container {
    padding-right: 2px; 
  }

  .rating {
    width: 44px;
    height: 20px;
    font-size: 1em;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 5px 20px 5px;
  }

  .container-for-price {
    display: inline-block;
    padding-left: 7px;
  }

  .price {
    display: inline-block;
    font-size: 0.8em;
  }

  .fa-usd {
    font-size: 11px;
  }

  .hours-wrapper {
    display: none;
  }

  body main .data-container h4 {
    font-size: 1.3em;
    margin-top: 3px;
    display: block;
  }
  
  body main .data-container h5 {
    font-size: 0.9em;
    font-style: italic;
    margin-top: 3px;
    margin-bottom: 3px;
    display: inline-block;
  }

  .address {
    font-size: 0.8em;
    padding-left: 5px;
    margin-top: 3px;
  }

  .fa-map-o, .fa-usd, .fa-comment {
    margin-right: 3px;
  }

  .map-link {
    display: block;
    margin-top: 2px;
  }

  .map-link p {
    font: normal 1.2em 'Passion One', cursive, sans-serif;
    display: inline-block;
  }

  .get-map-link:hover, .get-details-link {
    text-decoration: underline;
  }

  .get-details-link {
    margin-right: 20px;
  }

  .modal-link {
    margin-right: 20px;
  }

  .website-wrapper {
    display: inline;
    margin-left: 80px;
  }

  .modal-venue-info-wrapper h4 {
    font-size: 1.5em;
    display: inline-block;
  }

  .modal-rating-wrapper {
    display: inline-block;
    vertical-align: bottom;
  }

  .cont-for-rating {
    display: block;
  }

  .container-for-rating .modal-rating {
    width: 44px;
    height: 20px;
    font-size: 1em;
    font-weight: bold;
  }

  .modal-photo-wrapper img {
    width: 61%;
    box-shadow: 5px 6px 10px #515151;    
  }

  .modal-photo-wrapper {
    margin-bottom: -35px;
  }

  .modal-user-photo-wrapper img {
    width: 11%;
  }

  .back-to-top-btn-wrapper {
    margin-bottom: 7px;
  }

  .modal-website {
    font: normal 0.7em 'Passion One', cursive, sans-serif;
    color: #b3454e;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  body header .container {
    padding: 0px;
    height: 69px;
  }

  .modal-photo-wrapper {
    margin-bottom: -30px;
  }

  .arrow-wrapper {
    display: none;
  }

  .modal-user-photo-wrapper img {
    width: 10%;
  }

  .examples {
    display: inline-block;
    margin-top: 120px;
    padding-bottom: 15px;
  }

  body header .cont-for-h1 {
    width: 80%;
  }

  .back-to-top-btn-wrapper {
    margin-bottom: 7px;
  }

  body header h1 {
    font: italic 3em 'Passion One', cursive, sans-serif;
    margin-left: 2%;
  }

  body header h6 {
    display: block;
    font: italic 1em sans-serif;
    margin-left: 10%;
  }

  .form-main {
    height: 60px;
  }

  .container-form {
    width: 90%;
    margin-top: 15%;
  }

  body header {
    height: 315px;
  }

  .container-for-image img {
    box-shadow: 5px 6px 10px #515151;
  }

  form input {
    height: 45px;
    font: normal 1.2em sans-serif;
    border-radius: 0px;
  }

  .container-form button {
    height: 45px;
    border-radius: 0px;
    font: normal 1.2em sans-serif;
  }

  .food, .wine {
    font: bold 1.5em 'Audiowide', cursive, sans-serif;
  }

  .select-img {
    width: 10%;
  }

  .options {
    text-align: center;
    margin: 0 auto 0 auto;
  }

  .fa-arrow-circle-down {
    margin-top: 200px;
  }

  .description {
    margin-bottom: 40px;
  }

  h2 {
    font-size: 1.8em;
  }

  .how-it-works {
    padding-top: 5px;
  }

  body main .description .paragraph {
    font-size: 1em;
  }   

  .grub-grapes-img-wrapper img {
    width: 15%;
  } 

  div .food-quote-container .qoute-text-1 {
    font-size: 1.5em;
    margin-top: 150px;
    height: 180px;
    padding: 17px 10px;
  }

  div .food-quote-container .text {
    font-size: 0.8em;
  }

  .text-for-review {
    font: normal 1em/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .review-wrapper {
    margin: 0;
  }

  .review-wrapper-2 {
    display: none;
  }

  .review-wrapper-3 {
    display: initial;
  }

  .text-for-review {
    text-align: center;
  }

  .h2-wrapper {
    margin-bottom: 28px;
  }
  
  .details-wrapper h4 {
    font-size: 2em;
  }

  .img-venue-example {
    width: 90%;
  }

  .example-wrapper {
    margin-bottom: 84px;
  }

  h3 {
    font-size: 1.3em;
  }

  .back-to-search-bar-btn {
    width: 80%;
    font-size: 1.3em;
  }

  .hvr-icon-up:before {
    content: "\f01b";
    position: absolute;
    right: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .map-btn-wrapper {
    display: initial;
  } 

  .all-info-container {
    display: flex;
  }

  .hours-wrapper {
    font-size: 1.3em;
  }

  .modal-website {
    font: normal 0.7em 'Passion One', cursive, sans-serif;  
    color: #b3454e;
  }

  .website-wrapper {
    display: inline;
    margin-left: 84px;
  }

  .data-container {
    padding-right: 2px; 
  }

  .fa-map-o, .fa-car, .fa-comment, .fa-usd  {
    margin-right: 3px;
  }

  .modal-link {
    float: right;
    /* margin-right: 20px; */
  }

  .map-link {
    display: block;
    margin-top: 2px;
  }

  .map-link p {
    font: normal 1.2em 'Passion One', cursive, sans-serif;
    display: inline-block;
  }

  .get-map-link:hover, .modal-link:hover {
    text-decoration: underline;
  }

  .cont-for-rating {
    display: inline-block;
  }

  .rating {
    width: 37px;
    height: 20px;
    font-size: 1em;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 5px 20px 5px;
  }

  .container-for-price {
    display: inline-block;
    padding-left: 7px;
  }

  .price {
    display: inline-block;
    font-size: 0.8em;
  }

  .fa-usd {
    font-size: 11px;
  }

  body main .data-container h4 {
    font-size: 1.4em;
    margin-top: 3px;
    display: block;
  }
  
  body main .data-container h5 {
    font-size: 1em;
    margin-top: 3px;
    display: inline-block;
    font-style: italic;
  }

  .search-results-wrapper h4 {
    font-size: 1em;
    display: inline-block;
   }

  .address {
    font-size: 0.9em;
    padding-left: 4px;
  }

  

  .fa-map-o, .fa-usd {
    margin-right: 5px;
  }

  .modal-venue-info-wrapper h4 {
    font-size: 1.3em;
    display: inline-block;
  }

  .modal-rating-wrapper {
    display: inline-block;
  }

  .container-for-rating .modal-rating {
    width: 44px;
    height: 20px;
    font-size: 1em;
    font-weight: bold;
  }

  .modal-photo-wrapper img {
    width: 55%;
    box-shadow: 5px 6px 10px #515151;
  }

  .parallax-1 {
    height: 1000px;
    background-image: url("../images/parallax-1-small.png");
  }

  .parallax-2 {
    height: 1000px;
    background-image: url("../images/parallax-2-small.jpg");
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  body header h1 {
    font-size: 3.3em;
    margin-left: 8%;
  }

  .arrow-wrapper {
    display: none;
  }

  .select-img {
    vertical-align: baseline;
    padding-bottom: 1px;
  }

  .modal-user-photo-wrapper img {
    width: 9%;
  }

  body header .container {
    height: 75px;
  }

  .back-to-top-btn-wrapper {
    margin-bottom: 7px;
  }

  body header .cont-for-h1 {
    width: 80%;
  }

  div .food-quote-container .qoute-text-1 {
    font-size: 1.5em;
    margin-top: 300px;
    height: 150px;
  }

  div .food-quote-container .text {
    font-size: 0.7em;
  }

  div .food-quote-container .author {
    font-size: 0.8em;
  }

  body header h6 {
    display: block;
    font: italic 1em sans-serif;
    margin-left: 15%;
  }

  .form-main {
    height: 55px;
  }
  
  .container-form {
    width: 82%;
    margin-top: 14%;
  }

  .container-form button {
    height: 55px;
    font-size: 1.3em;
    border-radius: 0px;
  }

  form input {
    height: 55px;
    font: normal 1.3em sans-serif;
    border-radius: 0px;
  }

  .food, .wine {
    font: bold 1.7em 'Audiowide', cursive, sans-serif;
  }

  .select-img {
    width: 10%;
  }

  .options {
    margin-top: 14px;
  }

  .container-form button {
    font: normal 1.5em sans-serif;
  }

  body header {
    height: 322px;
  }

  .examples {
    display: inline-block;
    margin-top: 220px;
    padding-bottom: 10px;
  }

  .grub-grapes-img-wrapper img {
    width: 15%;
  }

  .h2-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 1.9em;
  }

  div .paragraph {
    font-size: 1em;
  }

  .description {
    margin-top: 30px;
  }

  .website-wrapper {
    display: inline;
    margin-left: 80px;
  }
  
  .modal-website {
    font: normal 0.7em 'Passion One', cursive, sans-serif;
    color: #b3454e;
  }

  div .food-quote-container .qoute-text-1 {
    font-size: 1.7em;
    margin-top: 130px;
    padding: 10px 10px;
  }

  .search-results-wrapper h4 {
    font-size: 1em;
    display: inline-block;
   }

  .text-for-review {
    font: normal 1em/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .review-wrapper {
    margin-top: 10px;
  }

  .review-wrapper-2 {
    display: none;
  }

  .review-wrapper-3 {
    display: initial;
  }

  .text-for-review {
    text-align: center;
  }

  .parallax-2 .h2-wrapper {
    margin-bottom: 32px;
  }

  .details-wrapper h4 {
    font-size: 2em;
  }

  .img-venue-example {
    width: 90%;
  }

  .example-wrapper {
    margin-bottom: 81px;
  }

  h3 {
    font-size: 1.5em;
  }

  .back-to-search-bar-btn {
    width: 80%;
  }

  .hvr-icon-up:before {
    content: "\f01b";
    position: absolute;
    right: 1.9em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .map-btn-wrapper {
    display: initial;
  } 

  .all-info-container {
    display: flex;
  }

  .back-to-top-btn-wrapper {
    margin-bottom: 7px;
  }


  .data-container {
    padding-right: 2px; 
  }

  .fa-map-o, .fa-car {
    margin-right: 5px;
  }

  .data-container {
    padding-right: 2px; 
  }

  .cont-for-rating {
    display: inline-block;
    vertical-align: inherit;
  }

  .rating {
    width: 44px;
    height: 20px;
    font-size: 1em;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 5px 20px 5px;
  }

  .container-for-price {
    display: inline;
    padding-left: 6px;
  }

  .price {
    display: inline-block;
    font-size: 0.8em;
  }

  .fa-usd {
    font-size: 11px;
  }
  
  body main .data-container h4 {
    font-size: 1.5em;
    margin-top: 5px;
    display: block;
  }
  
  body main .data-container h5 {
    font-size: 1em;
    margin-top: 5px;
    display: block;
    font-style: italic;
    display: inline-block;
  }

  .fa-map-o, .fa-usd, .fa-comment {
    margin-right: 3px;
  }

  .map-link {
    display: block;
    margin-top: 2px;
  }

  .map-link p {
    font: normal 1.2em 'Passion One', cursive, sans-serif;
    display: inline-block;
  }

  .get-map-link:hover, .modal-link:hover {
    text-decoration: underline;
  }

  .modal-link {
    float: right;
    margin-right: 20px;
  }

  .address {
    font-size: 0.9em;
    padding-left: 4px;
  }

  

  .modal-venue-info-wrapper h4 {
    font-size: 1.7em;
    display: inline-block;
  }

  .modal-rating-wrapper {
    display: inline-block;
  }

  .container-for-rating .modal-rating {
    width: 47px;
    height: 25px;
    font-size: 1.5em;
    font-weight: bold;
  }

  .modal-photo-wrapper img {
    width: 68%;
    box-shadow: 5px 6px 10px #515151;
  }

  .modal-photo-wrapper {
    margin-bottom: 20px;
  }

  .parallax-1 {
    height: 900px;
    background-image: url("../images/parallax-1-small.png");
  }

  .parallax-2 {
    height: 1250px;
    background-image: url("../images/parallax-2-small.jpg");
  } 
}

@media screen and (min-width: 426px) and (max-width: 600px) {
  body header .container {
    height: 93px;
  }

  .arrow-wrapper {
    display: none;
  }

  body header h1 {
    font-size: 4em;
  }

  body header {
    height: 322px;
  }

  .back-to-top-btn-wrapper {
    margin-bottom: 7px;
  }

  .hours-wrapper {
    display: initial;
  }

  div .food-quote-container .qoute-text-1 {
    font-size: 1.5em;
    margin-top: 300px;
    height: 130px;
  }

  div .food-quote-container .text {
    font-size: 0.7em;
  }

  div .food-quote-container .author {
    font-size: 0.8em;
  }

  body header .cont-for-h1 {
    width: 84%;
  }

  body header h6 {
    display: block;
    font: italic 1.1em sans-serif;
    margin-left: 13%;
  }

  .form-main {
    height: 60px;
  }
  
  .container-form {
    width: 70%;
    margin-top: 28%;
  }

  .container-form button {
    height: 49px;
    font-size: 1.3em;
  }

  form input {
    height: 49px;
    font: normal 1.5em sans-serif;
  }

  .food, .wine {
    font: bold 1.7em 'Audiowide', cursive, sans-serif;
    width: 40%;
  }

  .select-img {
    width: 10%;
  }

  .options {
    margin-top: 8px;
  }

  .container-form button {
    font: normal 1.5em sans-serif;
  }

  .examples {
    display: inline-block;
    margin-top: 200px;
    padding-bottom: 10px;
  }

  .grub-grapes-img-wrapper img {
    width: 10%;
  }

  .h2-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 2.5em;
  }

  .description {
    margin-top: 30px;
  }

  div .food-quote-container .qoute-text-1 {
    font-size: 1.7em;
    margin-top: 120px;
    padding: 12px 12px;
    height: 140px;
  }

  .text-for-review {
    font: normal 1.3em/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .review-wrapper {
    margin-top: 10px;
  }

  .review-wrapper-2 {
    display: none;
  }

  .review-wrapper-3 {
    display: initial;
  }

  .text-for-review {
    text-align: center;
  }

  .img-for-review {
    width: 20%;
  }

  .parallax-2 .h2-wrapper {
    margin-bottom: 40px;
  }

  .details-wrapper h4 {
    font-size: 2em;
  }

  .img-venue-example {
    width: 60%;
  }

  .example-wrapper {
    margin-bottom: 50px;
  }

  .main-page-places h2 {
    margin-bottom: 30px;
  }

  h3 {
    font-size: 1.5em;
    width: 100%; 
    text-align: center;
    position: absolute;
    top: 30px;
    left: 0; 
  }

  .img-places {
    width: 80%;
  }

  .back-to-search-bar-btn {
    width: 80%;
  }

  .hvr-icon-up:before {
    content: "\f01b";
    position: absolute;
    right: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .map-btn-wrapper {
    display: initial;
  } 

  .data-container {
    padding-right: 2px; 
  }

  .all-info-container {
    display: flex;
  }

  .website-wrapper {
    display: inline;
    margin-left: 65px
  } 

  .modal-website {
    font: normal 0.7em 'Passion One', cursive, sans-serif;
    color: #b3454e;
  }

  .venue-img {
    box-shadow: 5px 6px 10px #515151;
  }

  .fa-map-o, .fa-car, .fa-usd, .fa-comment {
    margin-right: 5px;
  }

  .map-link {
    display: block;
    margin-top: 2px;
  }

  .map-link p {
    font: normal 1.2em 'Passion One', cursive, sans-serif;
    display: inline-block;
  }

  .get-map-link:hover, .modal-link:hover {
    text-decoration: underline;
  }

  .cont-for-rating {
    display: inline-block;
    vertical-align: inherit;
    width: 0%;
  }

  .rating {
    width: 37px;
    height: 20px;
    font-size: 1em;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 5px 20px 5px;
  }

  .container-for-price {
    display: inline-block;
    margin-left: 5px;
  }

  .price {
    display: inline;
  }

  body main .data-container h4 {
    font-size: 2em;
    margin-top: 5px;
    display: block;
  }
  
  body main .data-container h5 {
    font-size: 1em;
    margin-top: 5px;
    font-style: italic;
    display: inline-block;
  }

  .search-results-wrapper h4 {
    display: inline-block;
    font-size: 1em;
  }

  .address {
    font-size: 1em;
    padding-right: 1px;
  }

  .modal-venue-info-wrapper h4 {
    font-size: 1.7em;
    display: inline-block;
  }

  .modal-rating-wrapper {
    display: inline-block;
  }

  .container-for-rating .modal-rating {
    width: 47px;
    height: 25px;
    font-size: 1.5em;
    font-weight: bold;
  }

  .parallax-1 {
    height: 900px;
    background-image: url(../images/parallax-1-small.png);
  }

  .parallax-2 {
    height: 1200px;
    background-image: url(../images/parallax-2-small.jpg);
  }
}

@media screen and (min-width: 601px) and (max-width: 766px) {
  body header .container {
    height: 110px;
  }

  body header h1 {
    font-size: 5em;
  }

  .select-img {
    vertical-align: inherit;
    padding-bottom: 2px;
  }

  .modal-photo-wrapper img {
    width: 40%;
    box-shadow: 5px 6px 10px #515151;
  }

  div .paragraph {
    font-size: 1em;
  }

  .website-wrapper {
    display: inline;
    margin-left: 63px;
  }

  div .food-quote-container .qoute-text-1 {
    font-size: 1.5em;
    margin-top: 300px;
    height: 110px;
  }

  div .food-quote-container .text {
    font-size: 0.7em;
  }

  div .food-quote-container .author {
    font-size: 0.8em;
  }

  .back-to-top-btn-wrapper {
    margin-bottom: 7px;
  }

  body header .cont-for-h1 {
    width: 80%;
  }

  body header h6 {
    display: block;
    font: italic 1.3em sans-serif;
    margin-left: 15%;
  }

  .form-main {
    height: 60px;
  }
  
  .container-form {
    width: 70%;
    margin-top: 9%;
  }

  body header {
    height: 520px;
  }

  .container-form button {
    height: 55px;
    font-size: 1.5em;
  }

  form input {
    height: 55px;
    font: normal 1.5em sans-serif;
  }

  .food, .wine {
    font: bold 2em 'Audiowide', cursive, sans-serif;
    width: 40%;
  }

  .select-img {
    width: 9%;
  }

  .options {
    margin-top: 20px;
  }
  
  .examples {
    display: inline-block;
    margin-top: 250px;
    padding-bottom: 10px;
  }

  .grub-grapes-img-wrapper img {
    width: 20%;
  }

  .h2-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 2em;
  }

  .description {
    margin-top: 30px;
  }

  div .food-quote-container .qoute-text-1 {
    font-size: 1.7em;
    margin-top: 120px;
    padding: 10px 10px;
    height: 120px;
  }

  .text-for-review {
    font: normal 1.3em/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .review-wrapper {
    margin-top: 10px;
  }

  .review-wrapper-2 {
    display: none;
  }

  .review-wrapper-3 {
    display: initial;
  }

  .text-for-review {
    text-align: left;
    font-size: 1.2em;
  }

  .img-for-review {
    width: 25%;
    margin-top: 10px;
  }

  .parallax-2 .h2-wrapper {
    margin-bottom: 20px;
  }

  .details-wrapper h4 .details-venue-name {
    font-size: 0.7em;
  }

  .img-venue-example {
    width: 50%;
  }

  .example-wrapper {
    margin-bottom: 50px;
  }

  .details-wrapper {
    margin-top: 0px;
  }

  .main-page-places h2 {
    margin-bottom: 30px;
  }

  h3 {
    font-size: 0.8em;
  }

  .img-places {
    width: 100%;
  }

  .back-to-search-bar-btn {
    width: 50%;
  }

  .hvr-icon-up:before {
    content: "\f01b";
    position: absolute;
    right: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .map-btn-wrapper {
    display: none;
  } 

  .data-container {
    padding-right: 2px; 
  }

  .cont-for-rating {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 0%;
  }

  body main h4 .rating {
    width: 39px;
    height: 22px;
    font-size: 0.4em;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 5px 20px 5px;
  }

  .details-wrapper h5 {
    font-size: 1.2em;
  }

  .container-for-price {
    display: none;
  }

  .modal-website {
    font: normal 0.7em 'Passion One', cursive, sans-serif;
    color: #b3454e;
  }

  body main .data-container h4 {
    font-size: 1.6em;
    margin-top: 5px;
  }
  
  body main .data-container h5 {
    font-size: 1.2em;
    margin-top: 3px;
    display: inline-block;
    font-style: italic;
  }

  .search-results-wrapper h4 {
    font-size: 1em;
    display: inline-block;
   }

  .col-6 {
    width: 100%;
  }

  .address {
    font-size: 1em;
  }

  .modal-venue-info-wrapper h4 {
    font-size: 2.2em; 
    display: inline-block;
  }

  .modal-rating-wrapper {
    display: inline-block;
  }

  .container-for-rating .modal-rating {
    width: 56px;
    height: 30px;
    font-size: 1.8em;
    font-weight: bold;
  }

  .modal-photo-wrapper {  
    margin-bottom: 15px;
  }

  .fa-map-o, .fa-car, .fa-usd, .fa-comment {
    margin-right: 3px;
  }

  .modal-link {
    margin-left: 50%;
    display: inline;
  }

  .map-link {
    display: block;
    margin-top: 4px;
  }

  .map-link p {
    font: normal 1.2em 'Passion One', cursive, sans-serif;
    display: inline-block;
  }


  .get-map-link:hover, .modal-link:hover {
    text-decoration: underline;
  }

  .price {
    display: inline;
  }

  .all-info-container {
    display: flex;
  }
  
  .container-for-price {
    display: inline-block;
    padding-left: 7px;
  }

  .parallax-1 {
    height: 600px;
    background-image: url("../images/parallax-1-small.png");
  }

  .parallax-2 {
    height: 1300px;
    background-image: url("../images/parallax-2-small.jpg");
  }

  .price {
    display: inline-block;
    font-size: 1.1em;
  }

  .fa-usd {
    font-size: 15.4px;
  }

  .back-to-search-bar-btn {
    font: normal 1em sans-serif;
    width: 35%;
    height: 38px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  body header .container {
    height: 110px;
  }

  body header .container {
    height: 75px;
  }

  body header h1 {
    font-size: 5em;
  }

  body header .cont-for-h1 {
    width: 88%;
    display: block;
  }
   
  .parallax-1 {
    height: 700px;
    background-image: url("../images/parallax-1-small.png");
  }

  .parallax-2 {
    height: 800px;
    background-image: url("../images/parallax-3-small.jpg");
  }

  .modal-photo-wrapper img {
    width: 40%;
    box-shadow: 5px 6px 10px #515151;
  }

  .modal-photo-wrapper {
    margin-bottom: -2px;
  }

  div .food-quote-container .text {
    font-size: 0.8em;
  }

  div .food-quote-container .author {
    font-size: 0.9em;
  }

  h4 .welcome-page-venue-rating {
    background-color: #00B551;
    color: rgb(0, 0, 0);
    font: normal 0.7em 'Oswald', sans-serif;
    display: inline-block;
    width: 50px;
    height: 30px;
    margin: 0 auto;
    border-radius: 5px 20px 5px;
  }

  .back-to-top-btn-wrapper {
    margin-bottom: 7px;
  }

  body header h6 {
    display: block;
    font: italic 1.3em sans-serif;
    margin-left: 15%;
  }

  .form-main {
    height: 60px;
  }
  
  .container-form {
    width: 50%;
    margin-top: 25%;
  }

  .container-form button {
    height: 55px;
    font-size: 1.5em;
  }

  form input {
    height: 55px;
    font: normal 1.5em sans-serif;
  }

  .modal-hours {
    font-size: 0.6em;
  }

  .food, .wine {
    font: bold 2em 'Audiowide', cursive, sans-serif;
    width: 40%;
  }

  .select-img {
    width: 10%;
    padding-bottom: 4px;
  }

  .options {
    margin-top: 20px;
  }
  
  .examples {
    display: inline-block;
    margin-top: 160px;
  }

  .grub-grapes-img-wrapper img {
    width: 18%;
  }

  .h2-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 2.1em;
  }

  .description {
    margin-top: 30px;
  }

  div .food-quote-container .qoute-text-1 {
    font-size: 1.7em;
    margin-top: 120px;
    height: 200px;
    padding: 10px 10px;
  }

  .reviews .h2-wrapper {
    margin-bottom: 25px;
  }

  .text-for-review {
    font: normal 1.3em/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .review-wrapper {
    margin-top: 10px;
  }

  .review-wrapper-2 {
    display: initial;
  }

  .review-wrapper-3 {
    display: none;
  }

  .text-for-review {
    text-align: left;
    font-size: 1.3em;
  }

  .img-for-review {
    width: 40%;
    margin-top: 10px;
  }

  .parallax-2 .h2-wrapper {
    margin-bottom: 58px;
  }

  .details-wrapper h4 {
    font-size: 2em;
  }

  .img-venue-example {
    width: 90%;
  }

  .example-wrapper {
    padding-bottom: 15px;
  }

  .main-page-places h2 {
    margin-bottom: 30px;
  }

  h3 {
    font-size: 1.2em;
  }

  .img-places {
    width: 100%;
  }

  .back-to-search-bar-btn {
    font: normal 1em sans-serif;
    width: 30%;
    height: 38px;
  }

  .hvr-icon-up:before {
    content: "\f01b";
    position: absolute;
    right: 2.5em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .map-btn-wrapper {
    display: none;
  } 

  .data-container {
    padding-right: 2px; 
  }

  .map-link {
    display: block;
    margin-top: 3px;
    width: 100%;
  }

  .map-link p {
    font: normal 1.2em 'Passion One', cursive, sans-serif;
    display: inline-block;
  }

  .fa-map-o, .fa-car, .fa-usd, .fa-comment {
    margin-right: 3px;
  }

  .price {
    display: initial;
  }

  .search-results-wrapper h4 {
    font-size: 1em;
    display: inline-block;
  }

  .get-map-link:hover, .get-details-link:hover {
    text-decoration: underline;
  }

  .address {
    display: inline-block;
    padding-bottom: 5px;
    padding-left: 5px;
  }

  .container-for-price {
    display: initial;
  }

  .rating {
    width: 37px;
    height: 20px;
    font-size: 1em;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 5px 20px 5px
  }

  .container-for-price {
    display: inline-block;
    margin-left: 5px;
  }

  .price {
    display: inline;
  }

  body main .data-container h4 {
    font-size: 1.2em;
    margin-top: 5px;
  }
  
  body main .data-container h5 {
    font-size: 1em;
    margin-top: 6px;
    display: inline-block;
    font-style: italic;
  }

  .website-wrapper {
    display: inline;
    margin-left: 80px;
  }
  

  .modal-website {
    font: normal 0.7em 'Passion One', cursive, sans-serif;
    color: #b3454e;
  }

  .cont-for-rating {
    display: inline-block;
    vertical-align: inherit;
    width: 0%;
  }

  .modal-link {
    margin-left: 19%;
    display: inline;
  }

  .address {
    font-size: 1em;
  }

  .modal-venue-info-wrapper h4 {
    font-size: 1.9em;
    display: inline-block;
  }

  .modal-rating-wrapper {
    display: inline-block;
  }

  .container-for-rating .modal-rating {
    width: 56px;
    height: 30px;
    font-size: 1.8em;
    font-weight: bold;
  }

  .all-info-container {
    display: flex;
  } 

  /* .modal-link {
    display: inline;
    margin-left: 15px;
  } */
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .hvr-icon-up:before {
    content: "\f01b";
    position: absolute;
    right: 3.5em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@media screen and (min-width: 1201px) and (max-width: 1440px) {
  .hvr-icon-up:before {
    content: "\f01b";
    position: absolute;
    right: 5em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  body header h1 {
    font-size: 5em;
    margin-left: 2%;
  }

  body header .container {
    height: 83px;
  }

  .modal-photo-wrapper img {
    width: 47%;
    box-shadow: 5px 6px 10px #515151;
  }

  body header .cont-for-h1 {
    width: 67%;
  }

  div .food-quote-container .qoute-text-1 {
    font-size: 1.7em;
    margin-top: 180px;
    height: 220px;
    padding: 12px 12px;
  }

  .parallax-1 {
    height: 800px;
  }

  .parallax-2 {
    height: 900px;
    text-align: center;
  }

  .examples {
    display: inline-block;
    margin: 200px auto 0 auto;
    width: 80%;
    padding-bottom: 15px;
  }

  h2 {
    font-size: 2em;
  }

  .grub-grapes-img-wrapper img {
    width: 12%;
  } 

  div .food-quote-container .text {
    font-size: 1em;
  }

  div .food-quote-container .author {
    font-size: 1.2em;
  }

  .back-to-top-btn-wrapper {
    margin-bottom: 7px;
  }

  body header h6 {
    font: italic 1.3em sans-serif;
  }

  .select-img {
    width: 10%;
    vertical-align: inherit;
  }

  .food, .wine {
    font: bold 2em 'Audiowide', cursive, sans-serif;
    width: 42%;
  }

  .container-form {
    width: 38%;
  }

  .all-info-container {
    display: flex;
  }

  .map-link {
    margin-top: 3px;
    width: 100%;
    display: block; 
  }

  .back-to-search-bar-btn {
    width: 43%;
    font: normal 1.7em sans-serif;
  }

  .map-btn-wrapper {
    display: none;
  } 

  .data-container {
    padding-right: 2px; 
  }

  .rating {
    width: 40px;
    font-size: 1em;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 5px 20px 5px;
  }

  .container-for-price {
    display: inline-block;
    padding-left: 5px;
  }

  .price {
    display: inline-block;
  }

  .modal-link {
    margin-left: 152px;
    display: inline-block;
  }

  .website-wrapper {
    display: inline;
    margin-left: 80px;
  }

  .modal-website {
    font: normal 0.7em 'Passion One', cursive, sans-serif;
    color: #b3454e;
  }

  .map-link p {
    font: normal 1.2em 'Passion One', cursive, sans-serif;
    display: inline-block;
  }

  body main .data-container h4 {
    font-size: 1.5em;
    margin-top: 5px;
  }
  
  body main .data-container h5 {
    font-size: 1em;
    margin-top: 5px;
    font-style: italic;
  }

  .address {
    font-size: 1em;
  }

  .fa-map-o, .fa-car, .fa-usd, .fa-comment {
    margin-right: 3px;
  }

  .cont-for-rating {
    vertical-align: text-top;
  }

  .search-results-wrapper h4 {
    font-size: 1em;
    display: inline-block;
  }

  .modal-venue-info-wrapper h4 {
    font-size: 2em; 
    display: inline-block;
  }

  .modal-rating-wrapper {
    display: inline-block;
  }

  .container-for-rating .modal-rating {
    width: 56px;
    height: 30px;
    font-size: 1.8em;
    font-weight: bold;
  }
}


@media screen and (min-width: 1441px) {
  body header h1 {
    font-size: 5em;
    margin-left: 2%;
  }

  body header .container {
    height: 83px;
  }

  img {
    vertical-align: inherit;
  }

  .modal-photo-wrapper img {
    width: 45%;
    box-shadow: 5px 6px 10px #515151;
  }

  .back-to-top-btn-wrapper {
    margin-bottom: 7px;
  }

  .examples {
    padding-bottom: 10px;
  }

  div .food-quote-container .qoute-text-1 {
    font-size: 1.7em;
    margin-top: 300px;
    height: 166px;
    padding: 10px 10px;
  }

  div .food-quote-container .text {
    font-size: 1em;
  }

  div .food-quote-container .author {
    font-size: 0.9em;
  }

  body header .cont-for-h1 {
    width: 67%;
  }

  body header h6 {
    font: italic 1.3em sans-serif;
  }

  .select-img {
    width: 10%;
  }

  .food, .wine {
    font: bold 2em 'Audiowide', cursive, sans-serif;
    width: 42%;
  }

  .container-form {
    width: 38%;
  }

  .all-info-container {
    display: flex;
  }

  .map-link {
    margin-top: 3px;
    width: 100%;
    display: block; 
  }

  .back-to-search-bar-btn {
    width: 48%;
    font: normal 1.7em sans-serif;
  }

  .map-btn-wrapper {
    display: none;
  } 

  .data-container {
    padding-right: 2px; 
  }

  .rating {
    width: 40px;
    font-size: 1em;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 5px 20px 5px;
  }

  .container-for-price {
    display: inline;
    padding-left: 5px;
  }

  .price {
    display: inline-block;
  }

  .modal-link {
    margin-left: 200px;
    display: inline-block;
  }

  .website-wrapper {
    display: inline;
    margin-left: 80px;
  }

  .modal-website {
    font: normal 0.7em 'Passion One', cursive, sans-serif;
    color: #b3454e;
  }

  .map-link p {
    font: normal 1.2em 'Passion One', cursive, sans-serif;
    display: inline-block;
  }

  body main .data-container h4 {
    font-size: 1.5em;
    margin-top: 5px;
  }
  
  body main .data-container h5 {
    font-size: 1em;
    margin-top: 5px;
    font-style: italic;
  }

  .address {
    font-size: 1em;
  }

  .fa-map-o, .fa-car, .fa-usd, .fa-comment {
    margin-right: 3px;
  }

  .cont-for-rating {
    vertical-align: text-top;
  }

  .search-results-wrapper h4 {
    font-size: 1em;
    display: inline-block;
  }

  .modal-venue-info-wrapper h4 {
    font-size: 2.2em; 
    display: inline-block;
  }

  .modal-rating-wrapper {
    display: inline-block;
  }

  .container-for-rating .modal-rating {
    width: 56px;
    height: 30px;
    font-size: 1.8em;
  }
}

@media screen and (min-width: 426px) and (max-width: 500px) {
  .modal-link {
    float: right; 
  }
}

@media screen and (min-width: 501px) and (max-width: 600px) {
  .modal-link {
    display: inline;
    margin-left: 48%
  }
}

@media screen and (min-width: 425px) and (max-width: 500px) {
  .modal-photo-wrapper img {
    width: 60%;
    box-shadow: 5px 6px 10px #515151;
  }
}


@media screen and (min-width: 500px) and (max-width: 600px)  {
  .modal-photo-wrapper img {
    width: 50%;
    box-shadow: 5px 6px 10px #515151;
  }
}


@media screen and (min-width: 1441px) and (max-width: 1700px) {
  .parallax-1 {
    height: 900px
  }

  div .food-quote-container {
    margin-top: -58px;
  }

  .parallax-2 {
    height: 1000px;
    text-align: center;
  }

  .examples {
    display: inline-block;
    margin-top: 269px;
  }

}